climate/pivae_paper/data_manipulation/final_night_data.parquet filter=lfs diff=lfs merge=lfs -text
climate/pivae_paper/data_manipulation/final_day_data.parquet filter=lfs diff=lfs merge=lfs -text
climate/pivae_paper/data_manipulation/complete_data.parquet filter=lfs diff=lfs merge=lfs -text
